{% extends '::frontend.html.twig' %}

{% block title %}No results found{% endblock %}


{% block bodyBlock %}
<div class="container">

    <h1>Error!</h1>
    <p>No results found for dates and country selected<br> Try with other filters.</p>

</div>
{% endblock %}

